.side_menu_bar {
    width: 16%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 100%;
    float: right;
    background-color: #d4d4d4;
}

.main_content {
    width: 100%;
    height: 100%;
    /*background-image: url("images/profile-draft.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.first-half-profile {
    float: left;
    height: 100%;
    width: 50%;
}

.second-half-profile {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #a65cff;
}

#classes_clickable_div {
    font-family: houschka-rounded,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16pt;
    width: 100px;
    height: 100%;
    margin-left: 2%;
    cursor: pointer;
    color: #a65cff;
    display: inline-block;
    float: left;
}

#classes_clickable_div:hover {
    color: #b780ff;
}

#add_class_div {
    font-family: houschka-rounded,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14pt;
    width: 150px;
    height: 100%;
    margin-left: 2%;
    cursor: pointer;
    color: #a65cff;
    display: inline-block;
}

.category_name_drawer {
    font-family: houschka-rounded,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #a65cff;
    font-size: 12pt;
}

.category_name_title {
    font-family: houschka-rounded,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #a65cff;
    font-size: 20pt;
    text-align: center;
    margin-left: -10vh;
    width: 100%;
}

.source_title {
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14pt;
    width: 70%;
    height: 4vh;
    overflow: hidden;
}

.houshcka_bold {
    font-family: houschka-rounded,sans-serif;
    font-weight: 900;
    font-style: normal;
}

.houshcka_demibold {
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
}

.houshcka_medium {
    font-family: houschka-rounded,sans-serif;
    font-weight: 500;
    font-style: normal;
}

#add_source_div {
    cursor: pointer;
    font-family: houschka-rounded,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #a65cff;
    float: right;
    margin-right: 7vh;
    margin-top: 1vh;
    display: inline-block;
}

#add_source_div:hover {
    font-weight: 600;

}

#new_class_div {
    cursor: pointer;
    font-family: houschka-rounded,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #a65cff;
    display: inline-block;
    margin-top: 1vh;
    /*margin-left: 20vh;*/
}

#new_class_div:hover {
    font-weight: 600;
}

#signin-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*margin: 0;*/
    /* The image used */
    background-image: url("images/signin-back2.jpg");


    /* Center and scale the image nicely */
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

#signup-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*margin: 0;*/
    /* The image used */
    background-image: url("images/signup-back.jpg");


    /* Center and scale the image nicely */
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden
}

.thumbY, .trackX {
    background: rgba(166, 92, 254, 0.29) !important;
}

.signin-error {
    outline: none;
    border-width: .35vh;
    border-color: #ff1427;
    border-radius: 5px;
    border-style: solid;
    padding: 1vh;
    height: 35px;
    width: 59vh;
    background-color: #ffffff;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
}

.signin-input {
    border: 1px #000000;
    border-radius: 5px;
    outline: none;
    padding: 1vh;
    height: 35px;
    width: 59vh;
    background-color: #ffffff;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
}


#lname-signup {
    float: right;
}

.short-signup-input {
    padding: 1vh;
    height: 35px;
    width: 27vh;
    background-color: #ffffff;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 1px #000000;
    border-radius: 5px;
    outline: none;
}

.short-signup-input-error {
    padding: 1vh;
    height: 35px;
    width: 27vh;
    background-color: #ffffff;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    border-width: .35vh;
    border-color: #ff1427;
    border-radius: 5px;
    border-style: solid;
    outline: none;
}

.signup-input {
    border: 1px #000000;
    border-radius: 5px;
    outline: none;
    padding: 1vh;
    height: 35px;
    width: 60vh;
    background-color: #ffffff;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
}

.signup-input-error {
    outline: none;
    border-width: .35vh;
    border-color: #ff1427;
    border-radius: 5px;
    border-style: solid;
    padding: 1vh;
    height: 35px;
    width: 59vh;
    background-color: #ffffff;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
}

.source-tube-img {
    width: 90%;
    position: absolute;
    clip: rect(3.5vh, 40vh, 25vh, 0);
    margin-top: -15%;
    background-color: crimson;
    border-width: 2px;
    border-color: crimson;
    border-style: solid;
    /*border-bottom-width: 15px;*/
    /*border-top-width: 15px;*/
}

.home-from-profile {
    float: left;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #a65cff;
}

.profile-name {
    text-align: center;
    font-family: houschka-rounded,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #a65cff;
    font-size: 2vw;
    margin: 5% auto auto;
    width: 65%;
}

.profile-description {
    margin: 0 auto auto;
    width: 90%;
    font-family: houschka-rounded,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 1.3vw;
}

#profile-c-logo {
    margin: 20% 45% auto;
    width: 10%;
}

#edit-profile-popup {
    height: 42vw;
    width: 42vw;
    background-image: url('images/edit-profile-back2.png');
    background-size: cover;
    background-position: center;
}

#new-fname {
    width: 14.2vw;
    height: 3.2vw;
    margin-left: 4.5vw;
}

#new-lname {
    width: 14.2vw;
    height: 3.2vw;
    float: right;
    margin-right: 4.5vw;
}

#edit-profile-input-div {
    background-color: crimson;
    margin: 20px auto auto;
    height: 315px;
    /*width: 400px;*/
}

.text-input-profile {
    width: 180px;
    height: 40px;
    outline: none;
    background-color: rgba(166, 92, 254, 0.09);
    border-radius: 7px;
    /*margin-top: 40px;*/
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13pt;
    color: #a65cff;
    padding-left: 7px;
    border: none;
}

.text-input-profile-description {
    font-family: houschka-rounded,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4vw;
    color: #545454;
    margin-top: 1vw;
    width: 10vw;
}

#bio-input-profile-description {
    font-family: houschka-rounded,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4vw;
    color: #545454;
    margin-top: 1.2vw;
    width: 15vw;
    float: left;
    margin-left: 4.6vw;
}

#edit-bio-input {
    width: 410px;
    height: 200px;
    outline: none;
    background-color: rgba(166, 92, 254, 0.09);
    border-radius: 7px;
    /*margin-top: 40px;*/
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13pt;
    color: #a65cff;
    padding: 7px;
    border: none;
    resize: vertical;
    overflow: visible;
}

#update-profile-btn {
    /*padding-top: 3px; */
    margin-top: 0;
    margin-left: 15.5vw;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5vw;
    text-transform: none;
    color: #a65cff;
}

#profile-display-name {
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2vw;
    color: white;
    margin: 10% auto auto;
    text-align: center;
}

#profile-email {
    font-family: houschka-rounded,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    color: white;
    margin: 1% auto auto;
    text-align: center;
}

#num-classes-div {
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5vw;
    width: 8vw;
    color: white;
    float: left;
    margin: 20% 7% auto;
    text-align: center;
}

#num-sources-div {
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5vw;
    width: 8vw;
    color: white;
    float: right;
    margin-top: 20%;
    margin-right: 7%;
    text-align: center;
}

#profile-div-change-btns {
    text-align: center;
    width: 12vw;
    margin: 5vw auto auto;
}

#add-category-div {
    height: 37vw;
    width: 37vw;
    background-image: url('images/add-category-back.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#add-source-div {
    height: 43vw;
    width: 73.2vw;
    background-image: url('images/add-source-back.png');
    background-size: cover;
    background-position: center;
}

.new-cat-inputs {
    background-color: rgba(167, 93, 255, 0.15);
    outline: none;
    border-radius: 7px;
    border: none;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2vw;
    color: #854acc;
    padding-left: 5px;
}

.new-source-inputs {
    background-color: rgba(167, 93, 255, 0.15);
    outline: none;
    border-radius: 7px;
    border: none;
    font-family: houschka-rounded,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2vw;
    color: #854acc;
    margin-left: 4vw;
    padding-left: .5vw;
    width: 30vw;
}

#new-cat-name {
    width: 27.24vw;
    height: 3vw;
    margin-left: 4.8vw;
}

#parent-cat-select {
    width: 27.8vw;
    overflow-y: auto;
    padding-top: .8vw;
    padding-bottom: .8vw;
    margin-top: .5vw;
    cursor: pointer;
    margin-left: 4.8vw;
}
#parent-cat-select:hover, #parent-cat-select:active {
    outline: none;
    background-color: white;
}

#cat-select {
    width: 30.6vw;
    overflow-y: auto;
    margin-top: .8vw;
    min-height: 3.5vw;
    cursor: pointer;
}

#cat-select:active, #cat-select:hover {
    outline: none;
    background-color: white;
}

.select-options {
    background-color: #ececec;
    outline: none;
    border: none;
    font-family: houschka-rounded,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2vw;
    color: black;
    cursor: pointer;
}

.select-options:hover {
    background-color: rgba(166, 92, 254, 0.09);
    font-weight: 600;
}

#suggested-title {
    font-size: 1vw;
    color: #a65cff;
    margin-top: .6vw;
    margin-left: 4.2vw;
    width: 32.4vw;
    cursor: pointer;
}

#suggested-title:hover {
    text-decoration: underline;
}

#source-notes-textarea {
    width: 30vw;
    min-height: 22vw;
}

#bio-textarea {
    width: 32vw;
    min-height: 11.3vw;
}

.scrollable-textarea {
    background-color: rgba(167, 93, 255, 0.15);
    border: none;
    border-radius: 7px;
    outline: none;
    font-family: houschka-rounded,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2vw;
    color: #a65cff;
    padding: .5vw;
    resize: none;
}

#logout-popper {
    margin-left: 50vw;
    width: 50vw;
    min-height: 64px;
}

#logout-popper-div {
    background-color: #a65cff;
    text-align: right;
    width: 100%;
    margin-top: 17px;
    height: 40px;
    color: white;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14pt;
}

.logout-popper-response {
    color: white;
    float: right;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14pt;
    width: 2vw;
    cursor: pointer;
}

.logout-popper-response:hover {
    color: #b780ff;
}

#suggested-title-loading {
    width: 20vw;
    margin-left: 4vw;
}

#change-password-popup {
    height: 42vw;
    width: 42vw;
    background-image: url('images/change-password.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.change-pwd-input {
    width: 27.2vw;
    height: 3.4vw;
    margin-left: 7.4vw;
}

.show-hide-div {
    float: right;
    margin-right: 7.6vw;
    font-family: houschka-rounded,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    color: #a65cff;
    cursor:pointer;
    margin-top: .5vw;
}

.show-hide-div:hover {
    text-decoration: underline;
}

#change-pwd-error-div {
    text-align: center;
    color: #ff1427;
    margin-top:  2.5vw;
}

