.side_menu_bar {
    width: 16%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 100%;
    float: right;
    background-color: #d4d4d4;
}

.main_content {
    width: 100%;
    height: 100%;
}

#classes_clickable_div {
    font-family: houschka-rounded,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16pt;
    width: 100px;
    height: 100%;
    margin-left: 2%;
    cursor: pointer;
    color: #a65cff;
    display: inline-block;
    float: left;
}

#add_class_div {
    font-family: houschka-rounded,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14pt;
    width: 150px;
    height: 100%;
    margin-left: 2%;
    cursor: pointer;
    color: #a65cff;
    display: inline-block;
}

.category_name_drawer {
    font-family: houschka-rounded,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #a65cff;
    font-size: 12pt;
}

.category_name_title {
    font-family: houschka-rounded,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #a65cff;
    font-size: 20pt;
    text-align: center;
    margin-left: -10vh;
    width: 100%;
}

.source_title {
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14pt;
    width: 70%;
    height: 4vh;
    overflow: hidden;
}

.houshcka_demibold {
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
}

#add_source_div {
    cursor: pointer;
    font-family: houschka-rounded,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #a65cff;
    float: right;
    margin-right: 7vh;
    margin-top: 1vh;
    display: inline-block;
}

#new_class_div {
    cursor: pointer;
    font-family: houschka-rounded,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #a65cff;
    display: inline-block;
    margin-top: 1vh;
    /*margin-left: 20vh;*/
}

#signin-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*margin: 0;*/
    /* The image used */
    background-image: url("images/signin-back2.jpg");


    /* Center and scale the image nicely */
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

#signup-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*margin: 0;*/
    /* The image used */
    background-image: url("images/signup-back.jpg");


    /* Center and scale the image nicely */
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden
}

.thumbY, .trackX {
    background: rgba(166, 92, 254, 0.29) !important;
}

.signin-error {
    outline: none;
    border-width: .35vh;
    border-color: #ff1427;
    border-radius: 5px;
    border-style: solid;
    padding: 1vh;
    height: 35px;
    width: 59vh;
    background-color: #ffffff;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
}

.signin-input {
    border: 1px #000000;
    border-radius: 5px;
    outline: none;
    padding: 1vh;
    height: 35px;
    width: 59vh;
    background-color: #ffffff;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
}


#lname-signup {
    float: right;
}

.short-signup-input {
    padding: 1vh;
    height: 35px;
    width: 27vh;
    background-color: #ffffff;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 1px #000000;
    border-radius: 5px;
    outline: none;
}

.short-signup-input-error {
    padding: 1vh;
    height: 35px;
    width: 27vh;
    background-color: #ffffff;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
    border-width: .35vh;
    border-color: #ff1427;
    border-radius: 5px;
    border-style: solid;
    outline: none;
}

.signup-input {
    border: 1px #000000;
    border-radius: 5px;
    outline: none;
    padding: 1vh;
    height: 35px;
    width: 60vh;
    background-color: #ffffff;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
}

.signup-input-error {
    outline: none;
    border-width: .35vh;
    border-color: #ff1427;
    border-radius: 5px;
    border-style: solid;
    padding: 1vh;
    height: 35px;
    width: 59vh;
    background-color: #ffffff;
    font-family: houschka-rounded,sans-serif;
    font-weight: 600;
    font-style: normal;
}
